@common-icons: ~"selector:before, .dropdown-menu > li > a:before, .bottom-arrow:before, h1:before, .h1:before";
@btn-icons: ~".btn-next:after, .btn-previous:after, .btn-prev:after, .select-city-container .select2-selection__rendered:before, .select-city-container .select2-selection__arrow:before";
@city-icons: ~".hashtag:before";
@slider-icons: ~".bx-controls-direction a";
@icomoon-custom-selectors: ~"@{common-icons},@{btn-icons},@{city-icons},@{slider-icons},";

.icomoon-font('icommon-id');
.icomoon-styles(@icomoon-custom-selectors);

<% _.each(glyphs, function(glyph) { %>.icon-<%= glyph.name %>:before { content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" }
<% }); %>
