@future-of-health-color: #ea2f38;
@health-pitch-challenge-color: #00c2d1;
@health-data-day-color: #ffaa3c;
@health-hackathon: #00bc61;
@camp-black-color: #262626;

.camp-banner {
  &:extend(.img-banner);
  background-image: url('/app/uploads/camp/slide-med.jpg');
  .title {
    &:extend(.img-banner .title);
    margin-top: 60px;
    &:before {
      font-family: icomoon;
      content: '\ea17';
      display: block;
      text-align: center;
      font-size: 40px;
      color: @brand-primary;
    }
    span.backblack {
      background-color: black;
      opacity: 0.8;
      padding: 0px 8px;
    }
    span.backred {
      background-color: @brand-primary;
      color: white;
      padding: 6px 8px 6px 4px;
      position: relative;
      top: -5px;
      left: -10px;
      font-style: italic;
      transform: rotate(-7deg);
      line-height: 1;
      text-shadow: 2px 2px #d01b22;
      display: inline-block;
    }
  }
  .baseline {
    font-size: 20px;
    font-weight: @weight-bold;
    background-color: @brand-primary;
    color: white;
    text-shadow: 2px 2px #d01b22;
    padding: 3px 5px;
  }
  .subbaseline {
    &:extend(.img-banner .baseline);
  }
}

.camp-presentation-banner {
  padding: 50px 0px;
  h2 {
    font-weight: bold;
    color: @h2-color;
    font-size: 34px;
    margin-top: 0px;
  }
}

.camp-description-banner {
  padding: 50px 0px;
  text-align: center;
  background-color: @black;
  color: white;
  h2 {
    line-height: 24px;
    color: @black;
  }
  .btn {
    font-weight: bold;
  }
  .hh-icon-block p {
    color: white;
  }
}

.camp-organized-by-banner {
  background-colo: @black;
}

.camp-program-banner {
  background-color: @black;
  padding: 50px 0px;
  text-align: center;
  h5 {
    font-size: 24px;
    text-transform: uppercase;
    color: @white;
  }
  h6 {
    font-style: italic;
    color: #ACACAC;
  }
  .camp-block {
    color: @white;
    padding: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .btn {
      background-color: @white;
      font-weight: bold;
      width: 130px;
      margin: auto;
      //color: inherit;
    }
    p {
      line-height: normal;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .future-of-health {
    background-color: @future-of-health-color;
    background-image: url('/app/uploads/camp/bg-future-of-health.jpg');
    height: 300px;
    line-height: 150px;
  }
  .health-pitch-challenge {
    background-color: @health-pitch-challenge-color;
    background-image: url('/app/uploads/camp/bg-health-pitch-challenge.jpg');
    height: 200px;
    line-height: 100px;
  }
  .health-data-day {
    background-color: @health-data-day-color;
    background-image: url('/app/uploads/camp/bg-health-data-day.jpg');
    height: 300px;
    line-height: 150px;
  }
  .health-hackathon {
    background-color: @health-hackathon;
    background-image: url('/app/uploads/camp/bg-health-hackathon.jpg');
    height: 550px;
    line-height: 250px;
  }
}

.camp-training-banner {
  background-color: @orange;
  color: white;
}

.camp-social-banner {
  background-color: @light-red;
  padding: 40px 0px;
}

.camp-testimonials-banner {
  background-color: #000000;
  padding: 50px 0px;
  img {
    float: left;
    width: 150px;

    @media screen and (max-width: @screen-xs-max) {
      float: none;
      width: auto;
      display: block;
      max-width: 100%;
      margin-top: 20px;
    }
  }
  .quote {
    float: left;
    width: 400px;
    border-left: 6px solid white;
    
    @media screen and (max-width: @screen-xs-max) {
      float: none;
      width: auto;
    }

    h5 {
      font-size: 18px;
      font-style: italic;
      font-weight: bold;
      color: @white;
      border: 0;
      margin: 20px 20px;
      line-height: 25px;
    }
    h5:before {
      content: "“";
      font-size: 2em;
      line-height: 0.1;
      vertical-align: -0.1em;
    }
    h5:after {
      content: "”";
      font-size: 2em;
      line-height: 0.1;
      vertical-align: -0.3em;
    }
    h6 {
      padding: 0 15px;
    }
  }
}

.camp-attendees-banner {
  text-align: center;
}

.camp-sponsors-banner {
  img {
    height: 50px;
  }
}

.camp-partners-banner {
  img {
    margin-top: 10px;
    margin-right: 10px;
    height: 50px;
  }
}

.camp-sponsors-presentation-banner {
  padding: 50px 0;
}

.camp-sponsors-packs-banner {
  background-color: black;
  padding: 50px 0;
}

.camp-hackathon-banner {
  background-color: @health-hackathon;
  color: white;

  a {
    color: @black;
  }

  .btn {
    color: @white;
  }
}

.camp-hackathon-challenge-banner {
  background-color: #000000;
  color: white;
}

.camp-hpc-banner {
  background: @health-pitch-challenge-color;
  color: white;
}


.foh-inspire-banner, .act-description-banner, .act-prices-banner {
  h2,h1,p {
   color: white;
  }
}

.foh-inspire-banner {
  background-color: @future-of-health-color;
}

.foh-speaker-banner {
  background-color: white;
}

.foh-schedule-banner, .act-schedule-banner {
  background-color: @camp-black-color;
}

.act-description-banner {
  background-color: @health-hackathon;
}

.act-prices-banner {
  background-color: @camp-black-color;
}

.platinum-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+1,596a72+100 */
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top,  #cedce7 1%, #596a72 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cedce7 1%,#596a72 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cedce7 1%,#596a72 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cedce7 1%,#596a72 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cedce7 1%,#596a72 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

.gold-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8b500+0,fbdf93+0,f8b500+0,fceabb+90 */
  background: #f8b500; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8b500 0%, #fbdf93 0%, #f8b500 0%, #fceabb 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b500), color-stop(0%,#fbdf93), color-stop(0%,#f8b500), color-stop(90%,#fceabb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8b500 0%,#fbdf93 0%,#f8b500 0%,#fceabb 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8b500 0%,#fbdf93 0%,#f8b500 0%,#fceabb 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8b500 0%,#fbdf93 0%,#f8b500 0%,#fceabb 90%); /* IE10+ */
  background: linear-gradient(to bottom,  #f8b500 0%,#fbdf93 0%,#f8b500 0%,#fceabb 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b500', endColorstr='#fceabb',GradientType=0 ); /* IE6-9 */
}

.silver-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100 */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.bronze-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9d4b3+0,b68d4c+1,b68d4c+1,f3e2c7+100 */
  background: #e9d4b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #e9d4b3 0%, #b68d4c 1%, #b68d4c 1%, #f3e2c7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9d4b3), color-stop(1%,#b68d4c), color-stop(1%,#b68d4c), color-stop(100%,#f3e2c7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e9d4b3 0%,#b68d4c 1%,#b68d4c 1%,#f3e2c7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e9d4b3 0%,#b68d4c 1%,#b68d4c 1%,#f3e2c7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e9d4b3 0%,#b68d4c 1%,#b68d4c 1%,#f3e2c7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e9d4b3 0%,#b68d4c 1%,#b68d4c 1%,#f3e2c7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d4b3', endColorstr='#f3e2c7',GradientType=0 ); /* IE6-9 */
}
@gray: #ACACAC;

.hh-sponsor-block {
  border: 2px;
  border-style: solid;
  border-color: @gray;
  color: @gray;
  padding-bottom: 10px;
  margin: 10px 0;
  div:nth-child(1) {
    height: 102px;
    background-color: @white;
    z-index:0;
    div {
      background-color: transparent;
      width: 0;
      height: 0;
      border-top: 100px solid #d82524;
      border-right: 100px solid transparent;
      position: relative;
      top: 0;
      left: 0;
      p {
        transform: rotate(-45deg);
        position: relative;
        top: -75px;
        left: 5px;
        margin: 0;
        line-height: normal;
        width: 70px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
    span {
      position: relative;
      width: 100%;
      top: -61px;
      font-size: 21px;
      display: inline-block;
      text-align: center;
      color: black;
    }
  }
  div:nth-child(2) {
    margin: 10px 0;
    p {
      padding: 10px;
    }
    ul {
      padding: 0 23px;
      color: @gray;
    }
    li {
      list-style: none;
    }
    li:before {
      content: "\ea05";
      color: @brand-primary;
      font-family: icomoon;
    }
  }
  div:nth-child(3) {
    text-align: center;
  }
}

.table-sponsorship {
  th {
    text-align: center;
    h5 {
      margin: 0;
      padding: 20px 0;
    }
    p {
      font-size: 14px;
      color: @brand-primary;
    }
  }
  td {
    &.selected-cell {
      color: @brand-primary;
      text-align: center;
      border: 2px solid @brand-primary;
      &:before {
        content: "\ea0b";
        font-family: icomoon;
      }
    }
  }
}

.hh-material-item {
  &:extend(.hh-item-person);
  a {

  }
  a:before {

  }
}

#map_canvas {
  height: 400px;
}

#legend > div {
  margin-top: 30px;
  margin-left: 60px;
}

#legend span {
  background: #c0323b;
  color: white;
  font-size: 10pt;
  padding: 5px 5px;
}

#legend h2 {
  margin: 10px 0px;
}

#legend h3 {
  margin: 0;
  display: inline;
}

#legend > div > div {
  margin-top: 20px;
}

#legend > div > div > span {
  display: inline;
  border-radius: 50%;
  font-size: 19pt;
}

#legend2 > div {
  margin-top: 30px;
  margin-left: 60px;
}

#legend2 span {
  background: #c0323b;
  color: white;
  font-size: 10pt;
  padding: 5px 5px;
}

#legend2 h2 {
  margin: 10px 0px;
}

#legend2 h3 {
  margin: 0;
}

.platinum {
  .platinum-col {
    min-height: 180px;
  }
}

.gold {
  .gold-col {
    min-height: 170px;
  }
}

.silver {
  .silver-col {
    min-height: 140px;
  }
}

.bronze {
  .bronze-col {
    min-height: 140px;
  }
}

.simple {
  .simple-col {
    min-height: 80px;
  }
  img {
    max-height: 96px;
  }
}
