.image-list {
  li {
    display: inline-block;
    padding-right: 10px;
    img {
      height: 45px;
    }
  }
}
.panel-title-icon {
  border-radius: 3px 0px 0px 3px;
  float: left;
  padding: 4px 12px;
  margin-right: 10px;
  font-size: 30px;
  //font-weight: bold;
}

.panel-factory {
  border-radius: 3px;
  background-color: #e3e7eb;
  margin: 100px 0px;
  color: black;
  border: 0px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  .panel-heading {
    border-radius: 3px;
    background-color: black;
    padding: 0px;
    height: 38px;
    color: white;
    p {
      line-height: 38px;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
    }
  }
  ul {
  }
  li {
    list-style: none;
    line-height: 30px;
  }
  ul > li:before {
    content: '\ea1d';
    font-family: icomoon;
    padding-right: 10px;
  }
  li > ul {
    padding: 0px 12px;
  }
}

.factory-schema {
  min-width: 350px;
  @media(min-width:750px) {
    width: 1170px;
  }
  .part1 {
      color: @brand-primary;
      text-align: center;
      @media(min-width:768px) {
        float: left;
        width: 15%;
      }
      @media(min-width:992px) {
        width: 15%;
      }
      @media(min-width:1200px) {
        width: 19%;
      }
      & > div {
          line-height: 100px;
          display: inline-block;
          @media(min-width:768px) {
            line-height: 200px;
            display: block;
          }
          & > div {
            line-height: normal;
            vertical-align: middle;
            @media(min-width:768px) {
              display: inline-block;
            }
          }
          & > div.schema-block {
            width: 80%;
            @media(min-width:768px) {
              display: inline-block;
            }
          }
      }
      .arrow span.icon-arrow-right:before {
          content: "\ea01";
          @media(min-width:768px) {
            content: "\ea05";
          }
      }
  }
  .part2 {
      padding: 0px 0px;
      color: @blue;
      @media(min-width:768px) {
        float: left;
        padding: 40px 0px;
        width: 35%;
      }
      @media(min-width:992px) {
        width: 50%;
      }
      @media(min-width:1200px) {
        width: 60%;
      }
      .schema-block h2 {
        color: @blue;
      }
      .linkable {
        .transition(all .2s ease-in-out);
        &:hover {
          background: @blue;
          color: @white;
          text-decoration: none;
          border-radius: 10px;
          a {
            color: @white;
          }
        }
        a {
          color: inherit;
        }
        a:hover {
          text-decoration: none;
          color: white;
        }
      }
      & > div {
          text-align: center;
          @media(min-width:768px) {
          }
          & > div {
              display: inline-block;
              @media(min-width:768px) {
              }
          }
      }
      .line {
          border-top: 1px solid;
          width: 100px;
          height: 50px;
      }
      .vertical-line-left {
          border-left: 1px solid;
          border-bottom: 1px solid;
          height: 100px;
          width: 40px;
      }
      .vertical-line-right {
          border-right: 1px solid;
          border-bottom: 1px solid;
          height: 100px;
          width: 40px;
      }
      .vertical-alignment-top {
         vertical-align: top;
     }
  }
  .part3 {
      width: 100%;
      color: @yellow;
      text-align: center;
      .schema-block h2 {
        color: #fbb321;
      }
      @media(min-width:768px) {
        float: left;
        line-height: 400px;
        width: 15%;
      }
      @media(min-width:992px) {
        width: 15%;
      }
      @media(min-width:1200px) {
        width: 19%;
      }
      & > div {
          margin: 0 auto;
          @media(min-width:768px) {
            line-height: normal;
            display: inline-block;
            vertical-align: middle;
          }
          & > div {
              display: inline-block;
              line-height: normal;
              @media(min-width:768px) {
              }
          }
      }
      .arrow span.icon-arrow-right:before {
          content: "\ea01";
          @media(min-width:768px) {
            content: "\ea05";
          }
      }
  }
  .schema-block {
      text-align: center;
      max-width: 115px;
      padding: 5px;
      @media(min-width:768px) {
        max-width: 150px;
      }
      @media(min-width:992px) {
        max-width: 200px;
      }
      @media(min-width:1200px) {
        max-width: 250px;
      }
      span {
         font-size: 20px;
         @media(min-width:768px) {
           font-size: 38px;
         }
     }
     h2 {
        font-size: 15px;
        @media(min-width:768px) {
          font-size: 24px;
        }
    }
    p {
        font-size: 10px;
        @media(min-width:768px) {
          font-size: 12px;
        }
    }
  }
  .arrow span {
      font-size: 10px;
      @media(min-width:768px) {
        font-size: 20px;
      }
  }
  .schema-footer {
      color: black;
      padding-top: 15px;
      .schema-block h2 {
        color: black;
      }
  }
}

h1.factory-title {
  color: #000000;
}
h1.factory-title:before {
  content:'';
  padding: 20px;
}

.factory-banner {
  h2 {
    //color: #000000;
    margin-bottom: 6px;
  }
}

.factory-involved-banner {
  background-image: url('/app/uploads/factory/room.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  h1 {
    font-weight: bold;
  }
  h4,p,h1 {
    color: #FFFFFF;
  }
}

.factory-strasbourg-banner {
  background-image: url('/app/uploads/factory/strasbourg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 886px;
  h1 {
    //color: #FFFFFF;
  }
  h1:before {
    content:'';
    padding: 20px;
  }
  p {
    font-size: 24px;
  }
}

.factory-partners-banner {
  div {
    text-align: center;
  }
  img {
    height: 60px;
    margin: 10px 10px;
  }
}

.factory-contact-banner {
  background-image: url('/app/uploads/factory/contact.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  h1 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
  }
  h1:before {
    content:'';
    padding: 20px;
  }
  p {
    color: #FFFFFF;
    font-size: 18px;
  }
  input[type='submit'] {
    &:extend(.btn);
    &:extend(.btn-primary);
  }
}

.factory-team-part-banner {
  //background-image: url('/app/uploads/factory/be-part-of-team.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.factory-who-are-we-banner {
  background-image: url('/app/uploads/factory/who-are-we.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  h1 {
    color: #FFFFFF;
    font-weight: bold;
  }
  h1:before {
    content:'';
    padding: 20px;
  }
  p {
    color: #FFFFFF;
    font-size: 18px;
  }
}

.factory-team-banner {
  background-color: black;
}

.factory-education-banner {
  padding: 20px 0px;
}

.factory-studio-banner {
  padding: 20px 0px;
}
