//== Images and cache
//
//##

@img-path:              "../img/";
@img-cache:             "?v=1.0";

//== Colors
//
//##

@black:                       #000000;
@white:                       #ffffff;

@brand-primary:               #d82524;
@brand-secondary:             #262626;
@brand-tertiary:              #900d14;

@brand-btn-primary:           @brand-primary;
@btn-primary-border:          @brand-primary;
@brand-btn-secondary:         #b6b6b6;
@brand-btn-border:            #c9c9c9;

@brand-story:                 #262626;

@brand-btn-default-hover:     @brand-gray;
@brand-btn-primary-hover:     @brand-tertiary;
@brand-btn-secondary-hover:   #46061e;
@brand-btn-border-hover:      @brand-btn-primary-hover;

@brand-light: 			          #e3e0dd;
@brand-gray:                  #8b9093;
@brand-gray-light:            #bababa;
@brand-old-price:             #737373;
@brand-product-border:        #bababa;
@brand-border-color:          #ededed;
@brand-cart:                  @brand-secondary;

@brand-img-border:            1px solid #ebebeb;

@brand-fb:                    #014b96;
@brand-tw:                    #00acee;
@brand-gp:                    #dd4b39;

@brand-error:                 #ff4444;

@red: @brand-primary;
.red-color {
  color: @red;
}
.red-bgcolor {
  background-color: @red;
}

@yellow: #ff9000;
.yellow-color {
  color: @yellow;
}
.yellow-bgcolor {
  background-color: @yellow;
}
@light-red: #dc282d;
.light-red-color {
  color: @light-red;
}
.light-red-bgcolor {
  background-color: @light-red;
}
@blue: #3399ff;
.blue-color {
  color: @blue;
}
.blue-bgcolor {
  background-color: @blue;
}
@purple: #7d3ce6;
.purple-color {
  color: @purple;
}
.purple-bgcolor {
  background-color: @purple;
}
@turquoise: #00c79f;
.turquoise-color {
  color: @turquoise;
}
.turquoise-bgcolor {
  background-color: @turquoise;
}
@green: #00bc61;
.green-color {
  color: @green;
}
.green-bgcolor {
  background-color: @green;
}
@orange: #ffaa3c;
.orange-color {
  color: @orange;
}
.orange-bgcolor {
  background-color: @orange;
}

//== Scaffolding
//
//##

@text-color:                  #494949;

@h1-color:                    #1b2f35;
@h2-color:                    @brand-primary;
@h3-color:                    @text-color;
@h4-color:                    @black;
@h5-color:                    @h4-color;

@link-hover-color:            @brand-gray;

@navbar-padding-horizontal:   0;


//== Grid system
//
//## Define your custom responsive grid.

@grid-float-breakpoint:     @screen-md-min;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:         8px;
@padding-large-vertical:        14px;

@border-radius-base:            0;
@border-radius-large:           0;
@border-radius-small:           0;
@border-radius-general:         6px;

@breadcrumb-padding-horizontal: 0;


//== Navs
//
//##

//== Tabs
@nav-tabs-bg:                     #ececec;
@nav-tabs-border-bottom-color:    #e8e8e8;
@nav-link-hover-bg:               @brand-primary;


//== Typography
//
//##

@font-family-sans-serif:  'Roboto Condensed', serif;
@font-family-sans-serif2: 'Open Sans', sans-serif;
@font-family-sans-serif3: 'Rubik', sans-serif;
@font-family-sans-serif4: 'Roboto Slab', serif;

@weight-thin:             100;
@weight-light:            300;
@weight-normal:           400;
@weight-semi-bold:        600;
@weight-bold:             700;
@weight-extra-bold:       800;

@font-size-base:          18px;

@font-size-h1:            35px;
@font-size-h2:            18px;
@font-size-h3:            18px;
@font-size-h4:            18px;
@font-size-h5:            12px;
@font-size-h6:            18px;

@headings-font-family:    @font-family-sans-serif4;
@headings-font-weight:    @weight-normal;


//== Transitions
//
//##

@transition-duration: .2s;
@transition-function: ease-in-out;
@default-transition:  @transition-duration @transition-function;


//== Forms
//
//##

@input-border-focus: darken(@input-border, 20%);
@input-border-radius: 0;
@input-height-base: 53px;
@form-group-margin-bottom: @grid-gutter-width;
