
//
// Theme small
// --------------------------------------------------

@media screen and (max-width: @screen-sm-max) {
	.alignleft,
	.alignright {
		float: none;
		display: block;
		margin: 0 auto @grid-gutter-width;
	}

	.bottom-spacing-sm {
		margin-bottom: @grid-gutter-width;
	}

	.half-top-margin-sm {
		margin-top: @grid-gutter-width / 2;
	}

	.custom-top-margin-sm {
		margin-top: 60px !important;
	}

	//** Header

	.branding {
		background-color: @brand-secondary;

		.site-logo img {
			padding: 10px 0;
		}
	}

	//** Video banner

	.video-container {
		margin-bottom: -35px;
		top: 0;
	}

	//** Menu mobile

	.navbar-collapse {
		max-height: @navbar-collapse-max-height;
	}

	.mobile-button {
		background-color: @brand-primary;
		width: 40px;
		padding: 6px 6px;
		margin: 5px;
		border: none;

		.line-menu {
			background-color: @white;
			display: block;
			width: 100%;
			height: 4px;
			margin: 4px 0;

			.transition(all .2s ease-in-out);
		}

		&:hover, &:focus {

			.line-menu {
				background-color: @brand-secondary;
			}
		}
	}

	.header-mobile-navbar {

		.main-nav:hover > li > a {
			color: @white;
		}

		.main-navigation {

			br {
				display: none;
			}

			.main-nav {

				li {
					display: block;
					width: 100%;
				}

				> li:hover > a,
				> li > a:focus {
					background-color: @brand-primary;
					color: @white;
				}

				.dropdown:hover {

					> a {
						border-bottom: 1px solid @white;
					}
					
					> .dropdown-menu {
						width: 100%;
						padding: 0;
						display: block;
						position: relative;

						&:before {
							content: none;
						}

						> li > a {
							padding: 15px;
						}
					}
				}
			}
		}
	}

	//** Temoignage banner

	.banner-temoignage {
		
		//**  Slider des témoignages
		.slider {

			.item-temoignage {

				.hr {
					margin: 6px 0;
					top: 0;
				}

				h3 {
					font-size: 18px;
					max-height: none;
					overflow: hidden;
				}

				.description {
					font-size: 13px;
					margin-top: -4px;
				}
			}
		}
	}

	//** Hardware banner

	.banner-hardware .slider .item-hardware {
		height: 250px;
	}

	.banner-hardware .slider .item-hardware .content {
		height: 97px;
	}

	//** Footer

	.footer-links {
		float: none; 
		text-align: center;

		a {
			display: block;
			border: none;
		}
	}

	//** Defi Santé page

	.defi-sante .hentry .img-banner {
		height: 320px;
	}
}


@media (min-width: @screen-sm-min) {

	@height: 180px;

	.more-description {
		height: @height;
		overflow: hidden;
		padding: 0 @grid-gutter-width;
		//position: absolute;
		top: 220px;
		left: 0;
		.transition(all .4s ease-in-out);

		&.active {
			padding: 0 @grid-gutter-width 50px;
			height: auto;
			overflow: auto;
			z-index: 10;
			.box-shadow(0 5px 5px rgba(135,135,135,.75));
		}

		&:before {
			content: '';
			display: block;
			height: 55px;
			width: 100%;
			//background-color: @white;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}