
//
// Theme default
// --------------------------------------------------

// Global
// -------------------------

iframe {
	max-width: 100%;
}

.fb-like iframe {
	max-width: none;
}

textarea {
	resize: vertical;
}

.clear {
	clear: both;
}

.bottom-arrow {
	//display: inline-block;
	padding: 5px 0;
	position: absolute;
	top: -15px;
	width: 100%;
	text-align: center;

	&:before {
		content: "\ea01";
		color: @white;
		padding: 6px;
		font-size: 19px;
	}
}

.font-small {
	font-size: 15px;
}

.relative {
	position: relative;
}

//** Margins

.top-spacing {
	margin-top: @grid-gutter-width;
}

.bottom-spacing {
	margin-bottom: @grid-gutter-width;
}

.half-top-spacing {
	margin-top: @grid-gutter-width / 2;
}

.half-bottom-spacing {
	margin-bottom: @grid-gutter-width / 2;
}

.double-top-spacing {
	margin-top: @grid-gutter-width * 2;
}

.double-bottom-spacing {
	margin-bottom: @grid-gutter-width * 2;
}

.custom-margin {
	margin: 11px 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

//** Buttons

.btn {
	font-size: 15px;
	padding: @grid-gutter-width / 2;
	text-transform: uppercase;
	font-family: @font-family-sans-serif2;
}

.btn-primary {
	color: @black;
	background-color: transparent;
	border: 2px solid @brand-primary;

	&:hover,
	&:focus {
		color: @white;
		background-color: @brand-primary;
		border-color: @brand-primary;
	}
}

.btn-secondary {
	background-color: transparent;
	border: 2px solid @brand-tertiary;
	color: @white;

	&:hover,
	&:focus {
		color: @white;
		background-color: @brand-tertiary;
		border-color: @brand-tertiary;
	}
}

.btn-tertiary {
	background-color: @brand-primary;
	border: none;
	color: @white;
	padding-top: 17px;
	padding-bottom: 17px;

	&:hover,
	&:focus {
		color: @white;
		background-color: @brand-tertiary;
	}
}

.btn-quaternary {
	background-color: transparent;
	border: 2px solid @white;
	color: @white;

	&:hover,
	&:focus {
		color: @black;
		background-color: @white;
	}
}

.btn-social {
	background-color: @black;
	color: @white;
	border: none;

	&:hover, &:focus {
		background-color: @brand-tertiary;
		color: @white;
	}
}

.btn-prev {
	position: relative;
	padding-left: 65px;

	&:before {
		content: '';
		height: 51px;
		width: 51px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:after {
		content: "\EA49";
		font-size: @font-size-base * 1.5;
		position: absolute;
		top: 0;
		left: 0;
		padding: 12px;
	}

	&.btn-primary {

		&:before {
			background-color: @brand-primary;
		}

		&:after {
			color: @white;
		}
	}

	&.btn-secondary {

		&:before {
			background-color: @brand-tertiary;
		}
	}

	&.btn-tertiary {

		&:before {
			background-color: @brand-tertiary;
			width: 55px;
			height: 55px;
		}

		&:after {
			padding: 14px;
		}
	}

	&.btn-quaternary {

		&:before {
			background-color: @white;
		}

		&:after {
			color: @black;
		}
	}

	&.btn-social {

		&:before {
			background-color: @brand-tertiary;
		}
	}
}

.btn-next {
	position: relative;
	padding-right: 65px;

	&:before {
		content: '';
		height: 51px;
		width: 51px;
		position: absolute;
		top: 0;
		right: 0;
	}

	&:after {
		content: "\EA0E";
		font-size: @font-size-base * 1.5;
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px;
	}

	&.btn-primary {

		&:before {
			background-color: @brand-primary;
		}

		&:after {
			color: @white;
		}
	}

	&.btn-secondary {

		&:before {
			background-color: @brand-tertiary;
		}
	}

	&.btn-tertiary {

		&:before {
			background-color: @brand-tertiary;
			width: 55px;
			height: 55px;
		}

		&:after {
			padding: 14px;
		}
	}

	&.btn-quaternary {

		&:before {
			background-color: @white;
		}

		&:after {
			color: @black;
		}
	}

	&.btn-social {

		&:before {
			background-color: @brand-tertiary;
		}
	}
}

.btn-previous {
	position: relative;
	padding: 12px 12px 12px 0px;

	&:after {
		//content: '';
		//position: absolute;
		//top: 0;
		//right: 0;
	}

	&:before {
		content: "\EA0C";
		font-size: @font-size-base * 1.5;
		//height: 51px;
		//width: 51px;
		//position: absolute;
		//top: 0;
		//right: 0;
		padding: 12px 12px 12px 12px;
		margin-right: 10px;
	}

	&.btn-primary {

		&:after {
			//background-color: @brand-primary;
		}

		&:before {
			background-color: @brand-primary;
			color: @white;
		}
	}

	&.btn-secondary {

		&:after {
			background-color: @brand-tertiary;
		}
	}

	&.btn-tertiary {

		&:after {
			background-color: @brand-tertiary;
			width: 55px;
			height: 55px;
		}

		&:before {
			padding: 14px;
		}
	}

	&.btn-quaternary {

		&:after {
			background-color: @white;
		}

		&:before {
			color: @black;
		}
	}

	&.btn-social {

		&:after {
			background-color: @brand-tertiary;
		}
	}
}

.btn-down, .btn-up {
	position: absolute;
	bottom: 10px;
	right: 30px;
	font-size: 25px;
	padding: 2px 7px;
	z-index: 10;

	.transition(all .4s ease-in-out);

	&:after {
		position: relative;
		top: -3px;
		left: 1px;
	}
}

.btn-down {

	&:after {
		content: '\ea0c';
	}
}

.btn-up {

	&:after{
		content: '\ea3e';
	}
}

.select-city-container {
	@select-height: 51px;

	.select2-default {
		display: none;
	}

	.select2 {
		max-width: 100%;
		min-width: 100%;

		.select2-selection {
			&:extend(.btn);
			&:extend(.btn-tertiary);

			display: block;
			height: @select-height;
			padding: 14px;

			&:hover {
				&:extend(.btn-tertiary:hover);
			}

			.select2-selection__rendered {
				color: @white;
				line-height: 1.5;
				position: relative;
				padding: 0 10px 0 0;

				&:before {
					content: '\ea10';
					font-size: 20px;
					position: absolute;
					left: 0;
					top: 1px;
				}

				&,
				.select2-selection__placeholder {
					color: @white;
				}
			}

			.select2-selection__arrow {
				&:extend(.btn-next:before);
				&:extend(.btn-next.btn-tertiary:before);

				height: 51px;
				width: 51px;

				&:before {
					&:extend(.btn-next:after);
					content: '\ea3e';
					height: 100%;
				}

				b {
					display: none;
				}
			}
		}
	}

	.select2-container--open {
		.select2-selection {
			&:extend(.btn-tertiary:hover);

			.select2-selection__arrow:before {
				content: '\ea0c';
			}
		}
	}
}

.select2-search--dropdown .select2-search__field {
	outline-color: @brand-gray;
}

.select2-container--default #select2-select-city-results .select2-results__option--highlighted[aria-selected] {
	background-color: @red;
}

// Images
// -------------------------

.alignleft,
.alignright,
.aligncenter,
.alignnone {
	.img-responsive();
}

.alignleft {
	float: left;
	margin: 0 @grid-gutter-width @grid-gutter-width 0;
}

.alignright {
	float: right;
	margin: 0 0 @grid-gutter-width @grid-gutter-width;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.alignnone {
	margin: @grid-gutter-width 0;
}

// Header
// -------------------------

.header-navbar {
	position: relative;
	z-index: 1;
}

.navigation-links {
	padding: 30px 0;
	color: @white;
	font-size: 15px;
	background: #171717;

	a {
		color: @white;

		&:hover, &:focus {
			color: @brand-primary;
			text-decoration: none;
		}
	}
}

.branding-top {
	background-color: @brand-secondary;
	color: @white;

	.facebook, .twitter {
		display: inline-block;
		margin-left: 15px;
		font-size: 24px;
		color: @white;

		.transition(color .2s ease-in-out);

		&:hover, &:focus {
			text-decoration: none;
			color: @brand-primary;
		}
	}

	.switch-languages {
		margin-left: 15px;
		font-size: 13px;
		display: inline-block;

		li {
			list-style: none;
			padding: 0;

			& + li {

				&:before {
					content: "•";
					padding-right: 3px;
				}
			}

			a {
				color: @white;
				font-weight: @weight-bold;

				.transition(all .2s ease-in-out);

				&:hover,
				&:focus {
					color: @brand-primary;
					text-decoration: none;
				}
			}

			&.current-lang a {
				color: @brand-gray;
				cursor: default;
			}
		}
	}
}

.site-name {
	font-size: 13px;
	line-height: @headings-line-height;
	margin: 14px 0;

	&:before {
		content: none;
	}

	a {
		color: @white;
	}
}

//** Menu principal

.main-navigation {
	.bgrgba(@black, 0.8);

	.main-nav {

		.menu-item {
			.transition(background-color .2s ease-in-out);

			&:hover, &:focus {
				background-color: @nav-link-hover-bg;
			}

			> a {
				padding: 20px;
				color: @white;
				text-transform: uppercase;
				font-size: 13px;

				.transition(all .2s ease-in-out);
			}
		}

		.active > a {
			background-color: @brand-primary;
		}
	}

	.dropdown:hover > .dropdown-menu {
		display: block;
		position: absolute;
		z-index: 10;
		background-color: @brand-secondary;
		color: @white;

		&:before {
			content: "";
			position: absolute;
			top: -11px;
			left: 70px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6.5px 11px 6.5px;
			border-color: transparent transparent #303337 transparent;
		}

		> li {
			list-style: none;
			border-bottom: 1px solid #383838;

			&:hover {
				background-color: @black;
			}

			> a {
				display: block;
				color: @white;
				font-family: @font-family-sans-serif2;
				padding: 5px 5px 5px 15px;

				&:hover {
					text-decoration: none;
				}

				&:before {
					content: "\e93c";
					font-size: 15px;
					position: relative;
					bottom: 2px;
					padding-right: 10px;
				}
			}
		}

		.active {

			> a {
				text-decoration: none;
			}
		}
	}

	.dropdown-menu {
		display: none;
		width: 250px;
		padding-left: 0;
		padding-right: 0;

		.menu-item {
			.transition(all .2s ease-in-out);

			> li {
				list-style: none;

				> a {
					color: @white;
					text-transform: uppercase;
				}
			}
		}
	}
}

// Content
// -------------------------

//** Primary banner

.banner {
	padding-top: @grid-gutter-width * 2;
	padding-bottom: @grid-gutter-width * 2;
}

.black-banner {
	background-color: #1a1b1d;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.primary-banner {
	background-color: @brand-primary;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.secondary-banner {
	background-color: @brand-secondary;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.tertiary-banner {
	background-color: @brand-tertiary;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.white-banner {
	background-color: @white;
	color: @black;

	&.entry-content {

		h1, .h1 {
			color: @black;
		}
	}
}

.orange-banner {
	background-color: @orange;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.green-banner {
	background-color: @green;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.blue-banner {
	background-color: @blue;
	color: @white;

	&.entry-content {

		h1, .h1 {
			color: @white;
		}
	}
}

.defi-sante {
	@blue: #335dfd;
	@dark-blue: #001f72;
	@topic-height: 300px;
	font-size: 16px;

	.hentry {

		&,
		h1, h2, h3, .h1 {
			font-family: @font-family-sans-serif3 !important;
		}

		h1, .h1 {
			margin: 0 0 40px;
			font-weight: 300;

			&:before {
				content: none;
			}
		}

		h2 {
			font-size: 20px;
			font-weight: 400;
			color: @dark-blue;
			text-transform: none;
			margin-bottom: 30px;
		}

		a {
			color: @dark-blue;
		}

		.img-banner {
			height: 513px;
			min-height: auto;
			margin-top: auto;
		}

		.primary-banner {
			background-color: @blue;
		}

		.white-banner .h1 {
			color: @blue;
		}

		.bottom-arrow {
			display: none;
		}

		.panel-group .panel-heading {
			background-color: #313131;
		}

		.panel-group .panel-heading .panel-title .date {
			width: 190px;
			background-color: @blue;

			&:before {
				border-color: @blue transparent transparent transparent;
			}
		}

		.panel-group .panel-collapse .panel-body .program-lines {
			padding: 70px 70px 70px 100px;
			text-align: left;

			h2 {
				color: @blue;
			}

			h3 {
				color: #313131;
				font-weight: 700;
			}
		}

		.banner-defi-sante {
			padding: 30px 0;
			background: @blue url('../img/banner-defi-sante.jpg') no-repeat center center;
			background-size: cover;
			min-height: 243px;
			text-align: center;
			color: @white;

			.number-circle {
				font-size: 45px;
				font-weight: 300;
				padding: 7px;
				display: inline-block;
				margin: 20px 0;
				height: 77px;
				width: 77px;
				border: 2px solid @blue;
				border-radius: 50%;
				color: @white;
			}

			.text-circle {
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 300;
				margin: 0 50px;
			}
		}

		.btn-sante {
			background-color: #313131;
			color: @white;
			font-size: 20px;
			font-weight: 700;
			border-radius: 5px;

			&:hover,
			&:focus {
				background-color: @white;
				color: @blue;
			}
		}
	}

	strong {
		font-size: 20px;
	}

	.topic1 {
		background-image: url('../img/defis-sante-numerique/dis-moi-ou-tu-as-mal-je-te-dirais-qui-tu-es.jpg');
		background-size: cover;
		height: @topic-height;
	}
	.topic2 {
		background-image: url('../img/defis-sante-numerique/toi-aussi-un-jour-tu-seras-vieux.jpg');
		background-size: cover;
		height: @topic-height;
	}
	.topic3 {
		background-image: url('../img/defis-sante-numerique/rassure-moi.jpg');
		background-size: cover;
		height: @topic-height;
	}
	.topic4 {
		background-image: url('../img/defis-sante-numerique/au-dela-du-medicament.jpg');
		background-size: cover;
		height: @topic-height;
	}
}


//** Video Banner

.video-container {
	position: relative;
	height: 599px;
	overflow: hidden;
	width: 100%;
	top: -90px;
	margin-bottom: -90px;
	z-index: 0;

	& .bottom-arrow:before {
		background-color: @black;
	}

	.btn {
		color: @white;
	}
}

.fix-position {
	position: relative;
	top: 90px;
}

.text-video {
	margin-top: 120px;

	.font-big-video, .font-video {
		color: @white;
		text-transform: uppercase;
		font-family: @font-family-sans-serif2;
		font-weight: @weight-light;
		font-size: 27px;

		.icon-hh {
			position: relative;
			top: -4px;
			right: 20px;
		}
	}

	.font-big-video {
		font-size: 45px;
	}
}

//** Number banners

.banner-numbers {
	position: relative;
	background: #F1F1F1 url('../img/banner-world.jpg') no-repeat center center;
	padding-top: @grid-gutter-width * 2;
	padding-bottom: @grid-gutter-width * 2;

	& .bottom-arrow:before {
		background-color: @brand-primary;
	}

	.number-item {
		margin: @grid-gutter-width 0;
		height: 161px;
		width: 100%;
		border: 2px solid @brand-primary;
		position: relative;
		border-radius: @border-radius-general;

		.icon-heart, .icon-thumbs-up3, .icon-users, .icon-lamp, .icon-earth, .icon-partner {
			background-color: @brand-primary;
			color: @white;
			position: absolute;
			top: -34px;
			left: 50%;
			padding: 15px;
			height: 68px;
			width: 68px;
			border-radius: 50%;
			margin-left: -34px;

			&:before {
				font-size: 40px;
			}
		}

		.number {
			position: absolute;
			top: 25px;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 63px;
			font-weight: @weight-bold;
			color: #262626;

			.icon-arrow-right, .icon-arrow-left {
				font-size: 30px;
				position: relative;
				top: -9px;
			}
		}

		.text {
			position: absolute;
			top: 115px;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 18px;
			text-transform: uppercase;
			color: @brand-primary;
			font-family: @font-family-sans-serif2;
		}
	}
}

//** Number item with btn

.number-stats {
	margin: @grid-gutter-width 0;
	border: 2px solid @black;
	position: relative;
	border-radius: @border-radius-general;
	padding: @grid-gutter-width / 2;

	[class^="icon-"].icon, [class*="icon-"].icon {
		background-color: @brand-primary;
		color: @white;
		margin: auto;
		position: relative;
		top: -50px;
		left: 0;
		padding: 15px;
		height: 68px;
		width: 68px;
		border-radius: 50%;

		&:before {
			font-size: 40px;
		}
	}

	.number {
		text-align: center;
		font-size: 85px;
		font-weight: @weight-bold;
		color: #262626;
		margin-top: -50px;

		.icon-arrow-right, .icon-arrow-left {
			font-size: 30px;
			position: relative;
			top: -9px;
		}
	}

	.title {
		text-align: center;
		font-size: 22px;
		color: @brand-primary;
		text-transform: uppercase;
		margin-top: -25px;
	}

	.text {
		text-align: center;
		color: #6d6d6d;
		font-size: 15px;
		min-height: 63px;
	}
}

//** Image banner

.img-banner {
	min-height: 332px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: @white;
	background-color: @brand-secondary;
	margin-top: -60px;

	.title {
		margin-top: 110px;
		font-weight: @weight-thin;
		color: @white;
		font-size: 40px;
	}

	.baseline {
		font-size: 20px;
		font-weight: @weight-bold;
	}
}

.archive-event-banner {
	background-image: url('/app/uploads/event.jpg');
}

.archive-city-banner {
	background-image: url('/app/uploads/city.jpg');
}

.archive-news-banner {
	background-image: url('/app/uploads/event.jpg');
}

//** Hardware banner

.banner-hardware {
	background-color: #eeeeee;
	position: relative;
	padding-top: @grid-gutter-width * 2;

	& .bottom-arrow:before {
		background-color: @white;
		color: @black;
	}

	.slider {

		.item-hardware {
			height: 220px;
			background-color: @white;
			margin: 25px 0;
			padding: 10px;
			position: relative;
			border-radius: @border-radius-general;

			.item-block {
				position: relative;
				top: -25px;
				left: -10px;
				margin: 0 20px 0 0;
				display: block;
				float: left;
				height: 136px;
				width: 136px;
			}

			.hr {
				width: 43px;
				height: 1px;
				background-color: #dadada;
				margin: 6px 0;
				display: inline-block;
				position: relative;
				top: -6px;
			}

			h3 {
				font-size: 24px;
				margin: 0;
				min-height: 52px;
				display: block;
			}

			.content {
				width: 100%;
				font-size: 12px;
				height: 68px;
			}

			.btn {
				color: @black;

				&:hover, &:focus {
					color: @white;
				}
			}
		}
	}

	.bx-wrapper .bx-pager.bx-default-pager a, .bx-wrapper .bx-pager.bx-default-pager a:hover {
		background-color: transparent;
		border-color: @black;

		&.active {
			background-color: @black;
		}
	}
}


//** Hardware banner

.banner-event {
	background: url('../img/banner-event-bg.jpg') no-repeat center center;
	position: relative;
	padding-top: @grid-gutter-width * 2;
	min-height: 427px;
	background-size: cover;

	& .bottom-arrow:before {
		background-color: @black;
		color: @white;
	}

	.btn-event {
		display: block;
		color: @brand-primary;
		border: 2px solid @brand-primary;
		padding-top: 15px;
		padding-bottom: 15px;
		text-transform: uppercase;
		text-align: center;
		font-size: 15px;
		font-family: @font-family-sans-serif2;
	}

	#event-slider {

		.title {
			font-size: @font-size-h1;
			font-weight: @weight-thin;
			text-transform: uppercase;
			color: @white;
		}

		.date {
			font-weight: @weight-bold;
			font-family: @font-family-sans-serif2;
			color: @brand-primary;
			text-transform: uppercase;
		}

		.icon-calendar-insert {
			color: @white;
			font-size: 27px;
			padding-right: 10px;
			vertical-align: text-bottom;
		}

		.bx-wrapper .bx-pager {
			bottom: -@grid-gutter-width * 2;
		}
	}
}

//** Temoignage banner

.banner-temoignage {
	position: relative;
	background: #040404 url('../img/banner-temoignage.jpg') no-repeat center center;
	background-size: cover;
	padding-top: @grid-gutter-width * 2;

	& .bottom-arrow:before {
		background-color: @black;
	}
	.entry-content {

		.h1 {
			color: @white;
		}
	}

	//**  Slider des témoignages
	.slider {

		.item-temoignage, .item-hardware {
			height: 156px;
			background-color: @white;
			margin: 25px 0;
			padding-right: 10px;
			position: relative;
			border-radius: @border-radius-general;

			.transition(all .2s ease-in-out);

			&:hover {
				background: @brand-primary;
				color: @white;

				.content {
					display: block;
				}

				.function, .hr, h3, .description {
					display: none;
				}
			}

			.img-temoignage, .img-hardware {
				position: relative;
				top: -@grid-gutter-width / 2;
				margin: 0 20px 35px 0;
				display: block;
				float: left;
			}

			.function {
				font-size: 12px;
				color: @brand-primary;
				text-transform: uppercase;
				font-weight: @weight-bold;
				padding-top: 10px;
				margin-bottom: 5px;
				max-height: 44px;
				overflow: hidden;
			}

			.hr {
				width: 43px;
				height: 1px;
				background-color: #dadada;
				margin: 6px 0;
				display: inline-block;
				position: relative;
				top: -6px;
			}

			h3 {
				font-size: 18px;
				margin: 0;
				max-height: 52px;
				overflow: hidden;
			}

			.description {
				font-size: 13px;
				margin-top: -15px;
			}

			.content {
				position: relative;
				top: 10px;
				left: 0;
				width: 100%;
				font-size: 12px;
				display: none;
			}

			.social-links {
				position: absolute;
				bottom: 0;
				left: 0;
				margin-bottom: 6px;
				margin-left: 10px;

				.twitter, .linkedin, .behance {
					margin: 4px;
					color: @black;

					.transition(all .2s ease-in-out);

					&:hover {
						text-decoration: none;
						color: @white;
					}
				}
			}
		}
	}
}

//** Newsletter banner

.banner-newsletter, .newsletter-banner {
	position: relative;
	background: @brand-primary url('../img/banner-newsletter.jpg') no-repeat center center;
	padding-top: @grid-gutter-width * 2;
	padding-bottom: @grid-gutter-width * 2;
	background-size: cover;

	.bottom-arrow:before {
		background-color: @black;
	}

	h2.h1 {
		color: @white;

		&:before {
			color: @white;
		}
	}

	.form-control {
		font-family: @font-family-sans-serif2;
		text-transform: uppercase;
		text-align: center;
		font-size: 15px;
		display: inline;
		width: 90%;
	}

	.btn-newsletter {
		color: @white;
		border: 2px solid @brand-tertiary;
		padding: 12px;
		display: inline;

		.icon-arrow-right-circle {
			font-size: 25px;
		}
	}
}

//** News banner

.banner-event-news {

	position: relative;
	background: @brand-primary;
	padding-bottom: @grid-gutter-width * 2;

	.entry-content {

		h1, .h1 {
			color: @white;

			&:before {
				color: @white;
			}
		}
	}

	.item-news {
		&:extend(.banner-news .item-news all);
	}
}

.banner-news {
	position: relative;
	background: @brand-primary;
	padding: @grid-gutter-width * 2 0;

	.bottom-arrow:before {
		background-color: @brand-primary;
	}

	.item-news {
		background-color: @white;
		border-radius: @border-radius-general;

		.img-temoignage {
			border-top-left-radius: @border-radius-general;
			border-top-right-radius: @border-radius-general;
		}

		.info-news {
			padding: 17px;

			.date {
				font-family: @font-family-sans-serif2;
				color: @brand-primary;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: @weight-bold;
			}

			.title {
				font-weight: @weight-light;
				height: 75px;
			}

			.more-info {
				display: inline-block;
				float: right;
				height: 30px;
				width: 30px;
				border: 2px solid @brand-tertiary;

				.icon-plus {
					display: inline-block;
					font-weight: @weight-bold;
					padding: 4px;
					margin-top: -2px;
					color: @brand-tertiary;
				}
			}
		}
	}
}

.banner-social-networks {
	position: relative;
	padding: @grid-gutter-width * 2 0;
	background: @brand-primary;
}

.banner-story {

	&:extend(.banner-news all);
	background: @brand-story;

	.item-news {

		.info-news {

			.title {
				height: auto;
			}

			.content {
				font-size: 15px;
				color: #6d6d6d;
				min-height: 63px;
			}
		}
	}

	.entry-content {

		h1, .h1 {
			color: @white;
		}

		.btn {
			color: @white;
		}
	}
}

//** Partners banner

.banner-partners, .banner-events {
	position: relative;
	background: @white;
	padding-bottom: @grid-gutter-width * 2;
	padding-top: @grid-gutter-width * 2;

	.bottom-arrow:before {
		background-color: @brand-primary;
	}
}

//** Contact banner

.banner-contact, .contact-banner.banner {
	position: relative;
	background: @brand-secondary url('../img/banner-contact.jpg') no-repeat center center;
	background-size: cover;
	padding-top: @grid-gutter-width * 2;

	.bottom-arrow:before {
		background-color: @white;
		color: @black;
	}

	h2.h1, h1, .h1 {
		color: @white;
	}

	.form-control {
		font-family: @font-family-sans-serif2;
		text-transform: uppercase;
		font-size: 15px;
	}

	.mandatory-field {
		font-size: 15px;
		color: @white;
		font-family: @font-family-sans-serif2;
	}

	.btn {
		color: @white;
	}
}

//** Entry content

.entry-content {

	h1, .h1 {
		.asH1();
		.asH1-alt();
	}

	h2, .h2 {
		.asH2();
	}

	.h5 {
		.asH5();
	}

	ul, ol {
		padding: 0 20px;
	}
}

//** Bottom arrow

.bottom-arrow:before {
	background-color: @brand-primary;
}

// Footer
// -------------------------

//** Social buttons

.social-buttons {

	a {
		text-decoration: none;

		span {
			background-color: transparent;
			border-radius: 50%;
			font-size: 25px;
			border: 2px solid @brand-secondary;
			color: @brand-secondary;
			margin-right: 10px;
			width: 41px;
			height: 41px;
			padding: 19px;
			display: inline-block;
			margin-bottom: @grid-gutter-width / 2;

			.transition(all .2s ease-in-out);

			&:hover {
				border-color: @brand-primary;
				color: @brand-primary;
			}

			&:before {
				position: relative;
				top: -11px;
				left: -12px;
			}
		}
	}

	.facebook {

		span:before {
			left: -8px;
		}
	}

	.linkedin {

		span:before {
			top: -13px;
			left: -10px;
		}
	}
}

//** Footer links

.footer-links {
	float: right;

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: #b8b8b8;
		font-family: @font-family-sans-serif2;
		border-right: 1px solid #b8b8b8;
		padding: 10px 20px;
		font-size: 15px;

		.transition(color .2s ease-in-out);

		&:last-child {
			border-right: none;
			padding-right: 0;
		}

		&:hover {
			color: @brand-primary;
		}
	}
}

.footer {

	.nav {

		> li a {
			font-size: 15px;
			color: @brand-story;
			text-align: left;
			font-style: normal;
		}
	}
}

// Events
//--------------------------

.event {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 170px;

	.date {

		.number {
			font-size: 105px;
			color: @brand-primary;
			font-weight: @weight-thin;
			padding-left: @grid-gutter-width / 2;
		}

		.day {
			margin: 0;
			margin-top: 60px;
			color: #a7a7a7;
			font-size: 20px;
			display: block;
		}

		.month {
			font-size: 20px;
			color: @white;
			display: block;
		}
	}

	.title {
		font-weight: @weight-thin;
		font-size: 26px;
		color: @white;
		margin-top: 24px;
		margin-bottom: 0;
    background: rgba(0, 0, 0, 0.52);
    padding: 10px;
    border-radius: 2px;
	}

	.place {
		color: @white;
	}

	.btn-primary {
		color: @white;
	}
}

//** Programme d'un évènement

.panel-group {

	.panel-default {
		border: none;
	}

	.panel-heading {
		position: relative;
		height: 90px;
		padding: 0;
		margin: 1px 0;
		border-radius: 5px;
		background-color: #3c3c3c;
		color: @white;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			height: 70px;
		}

		@media screen and (max-width: @screen-xs-max) {
			height: auto;
		}

		.panel-title {
			height: 100%;

			.date {
				display: block;
				float: left;
				text-align: left;
				height: 100%;
				width: 248px;
				padding: 9px @grid-gutter-width / 2;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				background-color: @brand-primary;
				color: @white;
				.transition(all .2s ease-in-out);

				@media screen and (max-width: @screen-xs-max) {
					float: none;
					height: 50%;
					width: auto;
					padding: 5px;
					border-top-right-radius: 5px;
				}

				&:before {
					content: "";
					z-index: 10;
					position: absolute;
					bottom: -16px;
					left: 30px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 16px 22.5px 0 22.5px;
					border-color: #dc292c transparent transparent transparent;
					opacity: 1;
					.transition(all .2s ease-in-out);

					@media screen and (max-width: @screen-xs-max) {
						left: 10px;
						border-color: #3c3c3c transparent transparent transparent;	
					}
				}

				&.collapsed {
					background-color: #242424;

					&:before {
						opacity: 0;
					}

				}

				.date_number {
					font-size: 35px;
					font-weight: @weight-light;

					@media screen and (max-width: @screen-sm-max) {
						font-size: 23px;
					}

					@media screen and (max-width: @screen-xs-max) {
						display: inline-block;
					}
				}

				.date_day {
					font-size: 15px;
					text-transform: uppercase;

					@media screen and (max-width: @screen-sm-max) {
						font-size: 14px;
					}

					@media screen and (max-width: @screen-xs-max) {
						display: inline-block;
					}
				}

				.date_content {
					font-weight: 300;
					font-size: 30px;
					padding: 15px;
				}
			}

			.button {
				display: flex;
				float: left;
				justify-content: center;
				flex-direction: column;
				height: 100%;
				padding: 16px;
				font-size: 25px;
				font-weight: @weight-light;
				text-transform: uppercase;
				width: 590px;

				@media (min-width: @screen-lg-min) {
					width: 790px;
				}

				@media screen and (max-width: @screen-sm-max) {
					width: 400px;
					font-size: 17px;
				}

				@media screen and (max-width: @screen-xs-max) {
					width: auto;
					float: none;
					height: 50%;
					padding: 5px 73px 5px 5px;
					text-align: left;
				}
			}

			.icon-chevron {
				position: absolute;
				top: 0;
				right: 0;
				padding: @grid-gutter-width;
				font-size: @grid-gutter-width;
				text-decoration: none;

				@media screen and (max-width: @screen-sm-max) {
					padding: 20px;
				}

				@media screen and (max-width: @screen-xs-max) {
					padding: 6px;
					display: block;
					height: 100%;
					width: 100%;
				}

				&:before {
					content: "\EA3E";
				}

				&.collapsed:before {
					content: "\EA0C";
				}
			}
		}
	}

	.panel-collapse {

		.panel-body {
			margin-top: -1px;
			border: none;
			background-color: #ebebeb;
			padding: 15px 0 0;

			.program-lines {
				padding: 20px 15px;
				border-top: 1px solid #cdcdcd;

				img {
					&:extend(.img-circle);
				}

				.topic {
					display: inline-block;
					padding: 5px 10px;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 13px;
					margin-top: 5px;

					&.legal {
						background-color: #9fa7ad;
					}

					&.medical {
						background-color: #0db1a4;
					}

					&.design {
						background-color: #f8ab14;
					}

					&.technique {
						background-color: #5fb455;
					}
				}

				.separation {
					border-right: 1px solid #cdcdcd;
				}

				img {
					height: 80px;
					width: 80px;
				}

				.h2 {
					margin-top: 15px;
					a {
						text-decoration: underline;
					}
				}

				.h3 {
					margin-top: 0;
					a {
						text-decoration: underline;
						color: @text-color;
					}
				}

				&:first-child {
					border-top: none;
				}

				.time {
					font-weight: @weight-bold;
					padding: 5px 15px;
					background-color: #cdcdcd;
					position: relative;
					display: inline-block;
					width: 150px;

					&:before {
						content: "";
						position: absolute;
						top: 7px;
						right: -12px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 0 10px 12px;
						border-color: transparent transparent transparent #cdcdcd;
					}
				}
			}
		}
	}
}


// City
//--------------------------

.city {
	min-height: 250px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: @grid-gutter-width;

	.title {
    font-size: 26px;
    color: white;
    min-height: 111px;
    text-transform: uppercase;
    font-weight: @weight-thin;
    background: rgba(0, 0, 0, 0.52);
    padding: 10px;
    border-radius: 2px;
	}
	.btn {
		position: relative;
		bottom: 0;
		left: 0;
	}
}

.single-city-banner, .single-event-banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;

	.date {
		color: @brand-primary;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: @weight-bold;
	}

	.place {
		font-size: 15px;
		color: @white;
	}

	.title {
		font-size: @font-size-h1;
		text-transform: uppercase;
		font-weight: @weight-thin;
		margin-top: 150px;
		color: @white;
	}

	.hashtag {
		font-family: @font-family-sans-serif2;
		font-weight: @weight-extra-bold;
		font-size: 18px;
		text-decoration: none;

		&:before {
			content: "\EA28";
			color: @white;
			font-size: 22px;
			padding-right: 7px;
			vertical-align: top;
		}
	}

	.btn {
		color: @white;
	}

	.mailchimp-box {
		background-color: @black;
		color: @white;
		text-transform: uppercase;
		padding: @grid-gutter-width / 2;
		font-weight: @weight-light;
		margin-top: @grid-gutter-width;

		.form-control {
			border-color: #2f2f2f;
			background-color: #2f2f2f;
			color: @white;
		}

		.btn {
			padding-left: 8px;
		}
	}
}

.video-city {

	.video-container {
		height: 500px;
		top: 0;
		margin-bottom: 0;

		.fix-position {
			top: 0;
		}

		.btn {
			color: @white;
		}
	}
}

// Hackathon price
// -------------------------

.gray-banner {
	position: relative;
	background-color: #2b2d30;
	padding: 90px 30px 30px 30px;
	color: @white;
	margin-top: 75px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: @weight-light;

	.title {
		color: @green;
	}

	&:before {
		content: '';
		display: block;
		width: 82px;
		height: 127px;
		background: url('../img/icon-price-honorable.png') no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 50%;
		top: -44px;
		margin-left: -41px;
	}
}

.title {
	text-transform: uppercase;
	font-weight: 700;
	color: @h2-color;
	margin-top: 10px;
}

.normal-prize {
	background-color: @white;
	height: 420px;
	margin-top: @grid-gutter-width * 2;
	padding: 82px 10px 0px 10px;
	opacity: 1;
	z-index: 10;
	color: @black;
	.transition(all .4s ease-in-out);

	&.in-front-of {
		z-index: 11;
	}

	&.shadow {
		opacity: 0.7;
	}

	&:before {
		content: '';
		display: block;
		width: 82px;
		height: 127px;
		position: absolute;
		left: 50%;
		top: -44px;
		margin-left: -41px;
	}

	.more-description {
		background-color: @white;
		color: @black;
	}

	.title {
		margin: 0;
	}

	.description {
		p {
			margin: 0;
		}
	}

	.prize-img {
		max-width: 100%;
		max-height: 80px;
	}

	&.sponsor:before {
		background: url('../img/icon-price-sponsor.png') no-repeat center center;
		background-size: contain;
	}


	&.bonus:before {
		background: url('../img/icon-price-bonus.png') no-repeat center center;
		background-size: contain;
	}
}


// Contact Form
// -------------------------

.wpcf7 .screen-reader-response,
.wpcf7-display-none {
	display: none;
}

.wpcf7-form .form-actions {
	text-align: center;
}

.wpcf7-not-valid {
	border-color: @brand-danger;
}

.wpcf7-not-valid-tip,
.wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
	color: #fff;
	display: block;
	padding: 15px 10px;
	text-align: center;
}

.wpcf7-not-valid-tip,
.wpcf7-validation-errors {
	background-color: @brand-danger;
}

.wpcf7-mail-sent-ok {
	background-color: @brand-success;
}

.wpcf7-not-valid-tip {
	margin-top: 5px;
}


// Google Maps
// -------------------------

#map-canvas {
  height: 450px;
  color: @black;
}

.google-maps img {
	display: inline;
	max-width: none;
	height: auto;
}

// Shortcodes
// -------------------------

.hh-list {
	ul {
		margin-right: 28px
	}
	li > ul {
		padding-left: 14px;
		font-size: 16px;
		li:before {
			padding-left: 44px;
		}
	}
	li {
		list-style: none;
		padding-left: 24px;
	}
	li:before {
		content: "\ea3C";
		font-family: icomoon;
		position: absolute;
		left: 14px;
	}
}

.hh-text-image-row {
	img {
		display: block;
		margin: auto;
	}
	span {
		display: block;
		text-align: center;
		font-size: 200px;
	}
	h3 {
		line-height: 1.8;
	}
}

.hh-text-image-banner {
	padding: 20px 0;
	img {
		display: block;
		margin: auto;
	}
	span {
		display: block;
		text-align: center;
		font-size: 200px;
	}
	h3 {
		line-height: 1.8;
	}
	.hh-text-image-banner-text {
		padding: 20px;
		line-height: 26px;
	}
	.hh-text-image-banner-title {
		font-size: 36px;
		text-align: left;
	}
	.hh-list();
}

.hh-icon-block {
  text-align: center;
  & > div {
    margin: 30px 0px;
  }
  a,span {
    border-radius: 50%;
    color: white;
    padding: 20px 20px;
    font-size: 30px;
  }
  a:hover {
    padding: 30px 30px;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
  }
  a.icon-tie, span.icon-tie {
    padding: 20px 30px;
  }
  a.icon-tie:hover {
    padding: 30px 44px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
    color: black;
    text-transform: none;
  }
}

.hh-image-block {
  text-align: center;
  & > div {
    margin: 30px 0px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
    color: black;
    text-transform: none;
  }
}

.hh-item-person {
	height: 156px;
	background-color: @white;
	margin: 25px 0;
	padding-right: 10px;
	position: relative;
	border-radius: @border-radius-general;

	.transition(all .2s ease-in-out);

	&:hover {
		background: @brand-primary;
		color: @white;

		.content {
			display: block;
		}

		.function, .hr, h3, .description {
			display: none;
		}
	}

	.img-person {
		position: relative;
		top: -@grid-gutter-width / 2;
		margin: 0 20px 35px 0;
		display: block;
		float: left;
		height: 136px;
		width: 136px;
	}

	.function {
		font-size: 12px;
		color: @brand-primary;
		text-transform: uppercase;
		font-weight: @weight-bold;
		padding-top: 10px;
		margin-bottom: 5px;
		max-height: 44px;
		overflow: hidden;
	}

	.hr {
		width: 43px;
		height: 1px;
		background-color: #dadada;
		margin: 6px 0;
		display: inline-block;
		position: relative;
		top: -6px;
	}

	h3 {
		font-size: 18px;
		margin: 0;
		max-height: 52px;
		overflow: hidden;
	}

	.description {
		font-size: 13px;
		margin-top: -15px;
	}

	.content {
		position: relative;
		top: 10px;
		left: 0;
		width: 100%;
		font-size: 12px;
		display: none;
	}

	.social-links {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 6px;
		margin-left: 10px;

		.twitter, .linkedin, .behance {
			margin: 4px;
			color: @black;

			.transition(all .2s ease-in-out);

			&:hover {
				text-decoration: none;
				color: @white;
			}
		}
	}
}

.hh-social-block {
	span:before {
		color: white;
		background-color: black;
		position: relative;
	}
}

.hh-facebook {
	span:before {
		padding: 12px 17px;
	}
}

.hh-twitter {
	span:before {
		padding: 12px 13px;
	}
}

.hh-navigation-banner {
	width: 100%;
	margin: 0;
}

.hh-navigation-previous {
}
.hh-navigation-chapter {
	text-align: center;
}
.hh-navigation-next {
	float: right;
}
