
//
// Theme extra-small
// --------------------------------------------------

@media screen and (max-width: @screen-xs-max) {
	
	.bx-controls-direction {
		display: none;
	}

	// Hackathon prizes

	.sponsor {
		height: auto;
	}

	.bonus {
		height: auto;
	}
	// Hardware banner

	.banner-hardware .slider .item-hardware, .banner-hardware .slider .item-hardware .content {
		height: auto;
	}

	.banner-hardware .slider .item-hardware .btn {
		margin-top: @grid-gutter-width;
	}

	//** Defi Santé page

	.defi-sante {
		
		.hentry {

			.img-banner {
				height: 160px;
			}

			h1, .h1 {
				font-size: 24px;
			}

			h2 {
				font-size: 19px;
			}
		}
	}

	.defi-sante .hentry .panel-group .panel-heading .panel-title .button {
		display: none;
	}

	.defi-sante .hentry .panel-group .panel-collapse .panel-body .program-lines {
		padding: @grid-gutter-width / 2;
	}

}
