
// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
	
	//** Menu principal
	
	.main-navigation {

		.dropdown:hover > .dropdown-menu {

			&:before {
				left: 88px;
			}
		}
	}

	//** Video Banner

	.video-container {
		height: 697px;
	}

	//** Number banners

	.banner-numbers {

		.number-item {

			.number {
				font-size: 85px;

				&:before, &:after {
					top: 50px;
				}
			}

			.text {
				top: 122px;
			}
		}
	}

	//** Temoignage banner

	.banner-temoignage {
		
		//**  Slider des témoignages
		.slider {

			.item-temoignage {
				height: 156px;
				background-color: @white;
				margin: 25px 0;
				padding-right: 10px;
				position: relative;
				border-radius: @border-radius-general;

				.hr {
					margin: 5px 0;
					top: -5px;
				}

				h3 {
					font-size: 22px;
				}

				.description {
					font-size: 15px;
					margin-top: -12px;
				}

				.content {
					position: absolute;
					top: 10px;
					left: 157px;
					width: 180px;
					font-size: 13px;
					display: none;
				}
			}
		}
	}
}