// Icomoon
//
//
.icomoon-font(@font-id, @font-family: 'icomoon', @font-file: 'icomoon', @font-weight: normal, @font-style: normal) {
  @font-face {
	font-family: '@{font-family}';
	src:url('@{icon-font-path}@{font-file}.eot?-@{font-id}');
	src:url('@{icon-font-path}@{font-file}.eot?#iefix-@{font-id}') format('embedded-opentype'),
	  url('@{icon-font-path}@{font-file}.woff?-@{font-id}') format('woff'),
	  url('@{icon-font-path}@{font-file}.ttf?-@{font-id}') format('truetype'),
	  url('@{icon-font-path}@{font-file}.svg?-@{font-id}#@{font-family}') format('svg');
	font-weight: @font-weight;
	font-style: @font-style;
  }
}

.icomoon-styles(@custom-selectors:~"", @font-family: 'icomoon') {
  @{custom-selectors}
  [class^="icon-"], [class*=" icon-"] {
	font-family: '@{font-family}';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
}

// Hex to RGBA
//
//
.bgrgba(@color, @opacity: 1) {
	background-color: rgba(red(@color), green(@color), blue(@color), @opacity);
}

// Other theme mixins
//
//

.asH1(@font-size: @font-size-h1) {
	color: @h1-color;
	font-family: @font-family-sans-serif;
	font-size: @font-size;
	font-style: normal;
	font-weight: @weight-thin;
	text-transform: uppercase;
	margin-bottom: @grid-gutter-width;
	line-height: @headings-line-height;
	margin-top: @grid-gutter-width - 5;
}

.asH1-alt() {
	text-align: center;

	&:before {
		content: '\ea17';
		display: block;
		text-align: center;
		font-size: 40px;
		padding: 0 0 25px;
		color: @brand-primary;
	}
}

.asH2() {
	color: @h2-color;
	font-size: @font-size-h2;
	font-style: normal;
	font-weight: @weight-bold;
	text-transform: uppercase;
}

.asH3() {
	color: @h3-color;
	font-size: @font-size-h3;
	font-style: normal;
	font-weight: @weight-normal;
	text-transform: uppercase;
}

.asH4() {
	color: @h4-color;
	font-size: @font-size-h4;
	font-style: italic;
	font-weight: @weight-bold;
	text-transform: none;
}

.asH5() {
	color: @h5-color;
	font-size: @font-size-h5;
	font-style: italic;
	font-weight: @weight-bold;
	text-transform: none;
	margin-top: 10px;
}