@common-icons: ~"selector:before, .dropdown-menu > li > a:before, .bottom-arrow:before, h1:before, .h1:before";
@btn-icons: ~".btn-next:after, .btn-previous:after, .btn-prev:after, .btn-down:after, .btn-up:after, .select-city-container .select2-selection__rendered:before, .select-city-container .select2-selection__arrow:before";
@city-icons: ~".hashtag:before";
@slider-icons: ~".bx-controls-direction a";
@icomoon-custom-selectors: ~"@{common-icons},@{btn-icons},@{city-icons},@{slider-icons},";

.icomoon-font('icommon-id');
.icomoon-styles(@icomoon-custom-selectors);

.icon-arrow-down:before { content: "\EA01" }
.icon-arrow-left-circle:before { content: "\EA02" }
.icon-arrow-left:before { content: "\EA03" }
.icon-arrow-right-circle:before { content: "\EA04" }
.icon-arrow-right:before { content: "\EA05" }
.icon-arrow-top:before { content: "\EA06" }
.icon-behance:before { content: "\EA07" }
.icon-businessmen26:before { content: "\EA08" }
.icon-calendar-insert:before { content: "\EA09" }
.icon-cart:before { content: "\EA0A" }
.icon-check52:before { content: "\EA0B" }
.icon-chevron-down-circle:before { content: "\EA0C" }
.icon-chevron-down:before { content: "\EA0D" }
.icon-chevron-right-circle:before { content: "\EA0E" }
.icon-chevron-right:before { content: "\EA0F" }
.icon-earth:before { content: "\EA10" }
.icon-education:before { content: "\EA11" }
.icon-eye46:before { content: "\EA12" }
.icon-facebook:before { content: "\EA13" }
.icon-fund:before { content: "\EA14" }
.icon-healthclinic2:before { content: "\EA15" }
.icon-heart:before { content: "\EA16" }
.icon-hh:before { content: "\EA17" }
.icon-lamp:before { content: "\EA18" }
.icon-linkedin:before { content: "\EA19" }
.icon-money-bag:before { content: "\EA1A" }
.icon-paper-plane:before { content: "\EA1B" }
.icon-partner:before { content: "\EA1C" }
.icon-plus:before { content: "\EA1D" }
.icon-experiment:before { content: "\EA1E" }
.icon-rocket:before { content: "\EA1F" }
.icon-sandbox:before { content: "\EA20" }
.icon-seo40:before { content: "\EA21" }
.icon-sponsor:before { content: "\EA22" }
.icon-stethoscope:before { content: "\EA23" }
.icon-studio:before { content: "\EA24" }
.icon-thumbs-up3:before { content: "\EA25" }
.icon-tie:before { content: "\EA26" }
.icon-traffic25:before { content: "\EA27" }
.icon-twitter:before { content: "\EA28" }
.icon-two205:before { content: "\EA29" }
.icon-users:before { content: "\EA2A" }
.icon-youtube-play:before { content: "\EA2B" }
.icon-build:before { content: "\EA2C" }
.icon-business-model:before { content: "\EA2D" }
.icon-projects:before { content: "\EA2E" }
.icon-question:before { content: "\EA2F" }
.icon-who:before { content: "\EA30" }
.icon-benefits:before { content: "\EA31" }
.icon-commitments:before { content: "\EA32" }
.icon-interests:before { content: "\EA33" }
.icon-sprint:before { content: "\EA34" }
.icon-time:before { content: "\EA35" }
.icon-hospital:before { content: "\EA36" }
.icon-metrics:before { content: "\EA37" }
.icon-people:before { content: "\EA38" }
.icon-virtual:before { content: "\EA39" }
.icon-fast:before { content: "\EA3A" }
.icon-metho:before { content: "\EA3B" }
.icon-puce:before { content: "\EA3C" }
.icon-timer:before { content: "\EA3D" }
.icon-chevron-up-circle:before { content: "\EA3E" }
.icon-cafes:before { content: "\EA3F" }
.icon-clinics:before { content: "\EA40" }
.icon-hackathons:before { content: "\EA41" }
.icon-metrics2:before { content: "\EA42" }
.icon-reallife:before { content: "\EA43" }
.icon-shareholder:before { content: "\EA44" }
.icon-virtualworld:before { content: "\EA45" }
.icon-conference:before { content: "\EA46" }
.icon-formation:before { content: "\EA47" }
.icon-hackathon:before { content: "\EA48" }
.icon-chevron-left-circle:before { content: "\EA49" }
